﻿@model UvaProjeto.ViewModels.CampusViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Campus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.CEP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.CEP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Logradouro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Logradouro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Bloco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Bloco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Complemento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Complemento)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
