﻿@model UvaProjeto.ViewModels.AlunoViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome.PrimeiroNome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome.PrimeiroNome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome.Sobrenome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome.Sobrenome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Curso.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Curso.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Campus.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Campus.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.CEP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.CEP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Logradouro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Logradouro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Bloco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Bloco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Complemento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Complemento)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
