﻿@model UvaProjeto.ViewModels.AlunoViewModel
@using UvaProjeto.Domain.Shared.Entities
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AlunoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" readonly />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome.PrimeiroNome" class="control-label">Nome</label>
                <input asp-for="Nome.PrimeiroNome" class="form-control" />
                <span asp-validation-for="Nome.PrimeiroNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome.Sobrenome" class="control-label"></label>
                <input asp-for="Nome.Sobrenome" class="form-control" />
                <span asp-validation-for="Nome.Sobrenome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.CEP" class="control-label"></label>
                <input asp-for="Endereco.CEP" class="form-control" />
                <span asp-validation-for="Endereco.CEP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Logradouro" class="control-label"></label>
                <input asp-for="Endereco.Logradouro" class="form-control" />
                <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Numero" class="control-label"></label>
                <input asp-for="Endereco.Numero" class="form-control" />
                <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Bloco" class="control-label"></label>
                <input asp-for="Endereco.Bloco" class="form-control" />
                <span asp-validation-for="Endereco.Bloco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Complemento" class="control-label"></label>
                <input asp-for="Endereco.Complemento" class="form-control" />
                <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoId" class="control-label"></label>
                <select asp-for="CursoId" class="form-control">
                    @foreach (Curso curso in ViewBag.Cursos)
                    {
                        <option value="@curso.Id">@curso.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CampusId" class="control-label"></label>
                <select asp-for="CampusId" class="form-control">
                    @foreach (Campus campus in ViewBag.Campus)
                    {
                        <option value="@campus.Id">@campus.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
